.main {
  padding: 40px 0px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.landingLeft {
  max-width: 530px;
}

.landingTitle {
  color: var(--white);
  font-family: Urbanist;
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
}

.landingDescription {
  color: var(--description);
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0px 32px;
}

.buttonContainer {
  display: flex;
  gap: 16px;
}

.ctaButton {
  padding: 3px 28px;
  border-radius: var(--button-br);
  background: var(--button-bg);
  color: var(--white);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
}

.contactButton {
  background-color: inherit;
}

.hero {
  width: 100%;
  max-width: 754px;
  height: auto;
}
